{% extends 'base.html'%}
{% block content %}
    <H1>Registration details are wrong...</H1>
    <table>
        <tr>
            <td>Name :</td>
            <td>{{name}}</td>
        </tr>
        <tr>
            <td>Address :</td>
            <td>{{address}}</td>
        </tr>
        <tr>
            <td>Mobile no :</td>
            <td>{{mobile_no}}</td>
        </tr>
        <tr>
            <td>Email :</td>
            <td>{{email}}</td>
        </tr>
        <tr>
            <td>Username :</td>
            <td>{{username}}</td>
        </tr>
        <tr>
            <td>Password : </td>
            <td>
           
                {{password}}
            <input type="checkbox" name="show">Show Password
            </td>
        </tr>
        <tr>
            <td>Valid_email</td>
            <td> {{ valid_email }}</td>
        </tr>
    </table>
{% endblock%}